$default-purple: #6C63FF;

$default-pink: #FF6584;

$default-lightgray: #F5F5F5;

$left-border-0: 0 25px 0 25px;
$left-border-0-large: 0 50px 0 50px;

$right-border-0: 25px 0 25px 0;
$right-border-0-large: 50px 0 50px 0;