@import "variables";



*, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: unset;
    padding: unset;
    font-family: "Quicksand";
}

body {
    overflow-x: hidden;
}
.parallax {
    width: 100%;
    overflow-x: hidden;
}

.fullcontain {
    width: 90%;
    margin-left: 5%;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.nav__list {
    list-style-type: none;
    text-align: right;
    margin-right: -50px;
    animation: fadeInRight 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 550ms;
    opacity: 0;
    & li {
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
}

.fadeInRight {
    animation: fadeInRight 1s ease-in-out;
    animation-fill-mode: forwards;
}

.nav__burger {
    cursor: pointer;
    width: 75px;
    height: 45px;
    background-color: $default-pink;
    border-radius: $left-border-0;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    position: fixed;
    transition: all .3s ease-in-out;
    z-index: 3;
    &-plus {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.nav__desktop {
    display: none;
}

.nav-active {
    width: 90%;
    height: 90vh;
}

.plus-active {
    top: 20px;
    right: 20px;
}

header {
    margin-top: 85px;
}

.header {
    &__margin {
        margin-bottom: 25px;
    }
    &__text {
        margin-left: -50px;
        opacity: 0;
        animation: fadeInLeft 1s ease-in-out;
        animation-fill-mode: forwards;
    }
    &__para {
        margin: 35px 0 0 0;
        line-height: 30px;
        word-spacing: 3px;
    }
}

.myname {
    margin: 10px 0;
}

.section {
    &__margin {
        margin-bottom: 10%;
    }
    &__para {
        width: 80%;
        margin-left: 10%;
        line-height: 30px;
        word-spacing: 3px;
    }
}

section {
    padding: 100px 0;
    margin: 100px 0;
}

.logo {
    &__box {
        width: 100px;
        height: 55px;
        background-color: $default-purple;
        border-radius: $left-border-0;
        position: relative;
        &::before {
            content: "";
            width: 100px;
            height: 55px;
            background-color: transparent;
            border: 1px solid black;
            border-radius: $left-border-0;
            display: block;
            top: -10px;
            left: 10px;
            z-index: -1;
            position: absolute;
        }
    }
}

.portfolio {
    background-color: $default-lightgray;
    width: 100%;
    border-radius: $right-border-0-large;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        display: block;
        background-color: transparent;
        position: absolute;
        border: 1px solid black;
        left: 25px;
        top: 25px;
        height: -webkit-fill-available;
        width: 100%;
        z-index: -1;
        border-radius: $right-border-0-large;
    }
    &__gallery {
        &-margin {
            margin-bottom: 50px;
            display: block;
        }
        &-tile {
            width: 80%;
            margin: 10px 0 10px 10%;
            padding-top: 80%;
            background-color: white;
            position: relative;
        }
    }
}


.button_box {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.button {
    height: 50px;
    width: 50px;
    background-color: orange;
    margin-left: 15px;
    cursor: pointer;
}

.aboutme {
    background-color: $default-purple;
    color: white;
    width: 100%;
    border-radius: $left-border-0-large;
    text-align: center;
    position: relative;
    text-align: center;
    &::before {
        content: "";
        display: block;
        background-color: transparent;
        position: absolute;
        border: 1px solid black;
        left: 25px;
        top: 25px;
        height: -webkit-fill-available;
        width: 100%;
        z-index: -1;
        border-radius: $left-border-0-large;
    }
    &__skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &-tile {
            width: 40%;
            padding-top: 15%;
            border: 1px solid white;
            border-radius: 10px;
            display: inline-block;
            position: relative;
            margin-bottom: 25px;
            & div {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

footer {
    text-align: center;
}

.smile {
    width: 20px;
}

.footer__img {
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contactme {
    text-align: center;
    margin: 30px 0 30px 0;
}

.designedby {
    background-color: $default-purple;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    border-radius: $right-border-0;
    font-size: .75rem;
    &__text {
        vertical-align: middle;
        margin-top: 5px;
    }
}

.myemail {
    display: block;
}

/**MISC**/
.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 60px 0 60px 0;
}


.color {
    &-dot {
        color: $default-pink;
    }
    &-purple {
        color: $default-purple;
    }
    &-pink {
        color: $default-pink;
    }
}

.lookaround {
    margin-top: 22px;
}

.bold {
    font-weight: bold;
}

@import "queries";
@import "animation";


.purple-circle {
    background-color: $default-purple;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.big-purple {
    z-index: -2;
    position: absolute;
    left: -200px;
    width: 300px;
    height: 300px;
    background-color: $dark-purple;
    border-radius: 100%;
    top: 25%;
}

.small-purple {
    z-index: -2;
    position: absolute;
    right: -125px;
    width: 175px;
    height: 175px;
    background-color: $dark-purple;
    border-radius: 100%;
    top: 25%;
}

.small-pink {
    z-index: 5;
    position: absolute;
    right: -135px;
    width: 175px;
    height: 175px;
    background-color: $default-pink;
    border-radius: 100%;
    top: 75%;
}

.medium-pink {
    z-index: -2;
    position: absolute;
    left: -40px;
    width: 220px;
    height: 220px;
    background-color: $default-pink;
    border-radius: 100%;
    top: 100%;
}

.medium-circle, .med-circle {
    z-index: -2;
    position: absolute;
    right: -150px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 1px solid black;
    top: 40%;
}

.med-circle {
    top: 25%;
}

.large-circle {
    z-index: 3;
    position: absolute;
    left: -250px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 1px solid black;
    top: 90%;
}