*, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: unset;
  padding: unset;
  font-family: "Quicksand";
}

body {
  overflow-x: hidden;
}

.parallax {
  width: 100%;
  overflow-x: hidden;
}

.fullcontain {
  width: 90%;
  margin-left: 5%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 20px;
}

.nav__github a {
  text-decoration: none;
  color: unset;
}

.nav__list {
  list-style-type: none;
  text-align: right;
  margin-top: -25px;
  -webkit-animation: fadeInRight 1s ease-in-out;
          animation: fadeInRight 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.nav__list li {
  margin-bottom: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: 500;
  margin: 0 0 20px 25px;
}

.nav__list li:hover {
  color: #FF6584;
}

.nav__list li:hover .larr {
  opacity: 1;
  margin-left: unset;
}

.larr {
  opacity: 0;
  margin-left: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #FF6584;
}

.fadeInRight {
  -webkit-animation: fadeInRight 1s ease-in-out;
          animation: fadeInRight 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.nav__burger {
  cursor: pointer;
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 1.25rem;
  position: fixed;
  background-color: #FF6584;
  height: 50px;
  width: 50px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 3;
}

.nav__burger-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__desktop {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: fixed;
  top: 30px;
  z-index: 5000;
}

.nav-active {
  width: 90%;
  height: 90vh;
}

.plus-active {
  top: 20px;
  right: 20px;
  text-align: center;
  font-family: "Roboto";
}

header {
  margin-top: 85px;
}

.header__margin {
  margin-bottom: 25px;
}

.header__text {
  margin-left: -50px;
  opacity: 0;
  -webkit-animation: fadeInLeft 1s ease-in-out;
          animation: fadeInLeft 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: inline-block;
}

.header__para {
  margin: 35px 0 0 0;
  line-height: 30px;
  word-spacing: 3px;
}

.myname {
  margin: 10px 0;
}

.section__para {
  width: 80%;
  margin-left: 10%;
  line-height: 30px;
  word-spacing: 3px;
}

section {
  padding: 100px 0;
  margin: 100px 0;
}

.logo__box {
  width: 100px;
  height: 55px;
  background-color: #6C63FF;
  border-radius: 0 25px 0 25px;
  position: relative;
}

.logo__box::before {
  content: "";
  width: 100px;
  height: 55px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0 25px 0 25px;
  display: block;
  top: -10px;
  left: 10px;
  z-index: -1;
  position: absolute;
}

.portfolio {
  background-color: #F5F5F5;
  width: 100%;
  border-radius: 50px 0 50px 0;
  text-align: center;
  position: relative;
}

.portfolio::before {
  content: "";
  display: block;
  background-color: transparent;
  position: absolute;
  border: 1px solid black;
  left: 25px;
  top: 25px;
  height: -webkit-fill-available;
  width: 100%;
  z-index: -1;
  border-radius: 50px 0 50px 0;
}

.portfolio__gallery-margin {
  margin-top: 60px;
  display: block;
  z-index: 2;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.portfolio__gallery-margin h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #3F3D56;
}

.portfolio__gallery-margin p {
  font-size: .9rem;
  font-weight: 100;
}

.portfolio__gallery-tile {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio__gallery-tile img {
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.portfolio__gallery-tile img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio__gallery-margin .portfolio__gallery-tile .title {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
}

.position {
  font-weight: 200;
  font-size: .9rem;
}

.button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.button {
  height: 50px;
  width: 50px;
  background-color: orange;
  margin-left: 15px;
  cursor: pointer;
}

.aboutme {
  background-color: #6C63FF;
  color: white;
  width: 100%;
  border-radius: 0 50px 0 50px;
  text-align: center;
  position: relative;
  text-align: center;
}

.aboutme::before {
  content: "";
  display: block;
  background-color: transparent;
  position: absolute;
  border: 1px solid black;
  left: 25px;
  top: 25px;
  height: -webkit-fill-available;
  width: 100%;
  z-index: -1;
  border-radius: 0 50px 0 50px;
}

.aboutme__skills-tile {
  width: 40%;
  padding-top: 15%;
  border: 1px solid white;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
}

.aboutme__skills-tile div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer {
  text-align: center;
  padding-bottom: 70px;
}

.smile {
  width: 20px;
}

.footer__img {
  width: 100px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contactme {
  text-align: center;
  margin: 30px 0 30px 0;
}

.designedby {
  background-color: #6C63FF;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  border-radius: 25px 0 25px 0;
  font-size: .75rem;
}

.designedby__text {
  vertical-align: middle;
  margin-top: 5px;
}

.contactme a {
  color: unset;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #FF6584;
}

.contactme a:hover {
  color: #6C63FF;
}

.myemail {
  display: block;
}

/**MISC**/
.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 60px 0 60px 0;
}

.color-dot {
  color: #FF6584;
}

.color-purple {
  color: #6C63FF;
}

.color-pink {
  color: #FF6584;
}

.lookaround {
  margin-top: 22px;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width: 550px) {
  .header__para {
    width: 480px;
  }
}

@media only screen and (min-width: 768px) {
  .portfolio__gallery-margin {
    display: inline-block !important;
  }
  .portfolio__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
  }
  .myemail {
    display: inline-block;
  }
  footer {
    text-align: right;
  }
  .contactme {
    text-align: right;
  }
  .smile {
    text-align: center;
    margin: auto;
    display: block;
  }
}

@media only screen and (min-width: 810px) {
  .section__para {
    width: 573px;
    margin: auto;
  }
}

@media only screen and (min-width: 850px) {
  .portfolio__gallery-margin {
    width: 46%;
    margin: 2%;
  }
  .nav__burger {
    display: none;
  }
  nav {
    float: right;
  }
  .nav__desktop {
    display: block !important;
  }
}

@media only screen and (min-width: 1024px) {
  .portfolio__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1270px) {
  .fullcontain {
    width: 1230px !important;
    margin: auto !important;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    margin: unset;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    margin: unset;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    margin: unset;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    margin: unset;
  }
}

.purple-circle {
  background-color: #6C63FF;
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.big-purple {
  z-index: -2;
  position: absolute;
  left: -200px;
  width: 300px;
  height: 300px;
  background-color: #3F3D56;
  border-radius: 100%;
  top: 25%;
}

.small-purple {
  z-index: -2;
  position: absolute;
  right: -125px;
  width: 175px;
  height: 175px;
  background-color: #3F3D56;
  border-radius: 100%;
  top: 25%;
}

.small-pink {
  z-index: 5;
  position: absolute;
  right: -135px;
  width: 175px;
  height: 175px;
  background-color: #FF6584;
  border-radius: 100%;
  top: 75%;
}

.medium-pink {
  z-index: -2;
  position: absolute;
  left: -40px;
  width: 220px;
  height: 220px;
  background-color: #FF6584;
  border-radius: 100%;
  top: 100%;
}

.medium-circle, .med-circle {
  z-index: -2;
  position: absolute;
  right: -150px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 1px solid black;
  top: 40%;
}

.med-circle {
  top: 25%;
}

.large-circle {
  z-index: 3;
  position: absolute;
  left: -250px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 1px solid black;
  top: 90%;
}

.portfolio__button {
  margin-top: 10px;
}

.pink__btn {
  width: 100%;
  height: 100%;
  background-color: #FF6584;
  position: absolute;
  top: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.def__text {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hov__text {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.port__btn {
  width: 100px;
  height: 40px;
  background-color: #3F3D56;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.port__btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.port__btn:hover .pink__btn {
  top: 0;
  opacity: 1;
}

.port__btn:hover .def__text {
  opacity: 0;
  top: -100%;
}

.port__btn:hover .hov__text {
  opacity: 1;
}

.mailto {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */